/*---
	MAIN PAGE
----------------------------*/

body{
    background:#070707;
    background-image:url('images/trentanove.gif');
    background-repeat:repeat;
    text-align:center;
    margin: 0px auto;
    color: #fff;
    font-size: 11px;
    font-family: Arial , sans-serif;
    margin-top:6cm;
}

a {
    color: #ee2d00;
    text-decoration: none;
}

img {
    border: 0px;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    float: right;
    padding-right: 20px;
    clear:both;
}

#error {
    padding: 0 .7em;
    width: 741px;
    margin-left: auto;
    margin-right: auto;
}

.white {
    color: #ffffff;
}

/*---
	INFO BOX
----------------------------*/

#box {
    margin-left: auto;
    margin-right: auto;
    width: 741px;
}

#box #header {
    Background: url('../images/box_header.png');
    height: 42px;
    width: 741px;
    font-weight: bold;
}

#box #header .title {
    line-height: 45px;
    text-align: center;
    color: #ffffff;
}

#box #subheader {
    height: 26px;
    width: 741px;
    Background-image: url('../images/box_subheader.png');
}

#box #subheader .title {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color: #ffd800;
    float: left;
}

#box #middle {
    background-image: url('../images/box_middle.png');
    background-repeat: repeat-y;
    width: 741px;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

#box #footer {
    height: 10px;
    width: 741px;
    top: 0px;
    Background-image: url('../images/box_footer.png');
}

/*---
	INPUTS
----------------------------*/

#inputrow {
    width: 420px;
    padding: 10px;
    padding-left: 100px;
    clear:both;
}

#inputrow .title {
    float: left;
    width: 120px;
    text-align: right;
    font-weight: bold;
    line-height: 25px;
}

#inputrow .right{
    float:right;
    width: 240px;
}

#inputrow .data {
    float: left;
    text-align: left;
    width: 225px;
}

#inputrow .select{
    width: 220px;
}

#details {
    clear:both;
    padding-left: 285px;
    text-align: left;
}

/*---
	REQUIRED FIELDS
----------------------------*/

.required {
    color: red;
}

.required-field {
    float: right;
    font-weight: bold;
    padding-right: 20px;
    clear:both;
}
/*---
	TIMEZONE
----------------------------*/

.timezone {
    width: 220px;
}