

<div id="main">
	
	<div id="box">
		<div id="tabs">
			<li class="selected"><span class="left"></span><span class="middle"><a href="#">LOGIN</a></span><span class="right"></span></li>
			<li><span class="left"></span><span class="middle"><a href="#">REGISTER</a></span><span class="right"></span></li>
		</div>
		
		<div class="header">
			<h4>Header</h4>
		</div>
		<div class="content">
			<div class="inside">
				
				<div id="error">
					Errors<br />
					Error 2
				</div>
				
				<div class="required-field required">Required Field</div>
				<br />
				
				<div class="subheader">
					<h4>Sub Header</h4>
				</div>
		
				<form>
				<div class="label required">Text</div> <input type="text" name="" size="30" class="input error" /><br />
				<div class="description">Description of an input field</div>
				
				<div class="label required">Password</div> <input type="password" name="" size="30" class="input" /><br />
				<div class="label required">Date Picker</div> <input type="text" name="" size="28" class="input datepicker" /><br />
				
				<div class="label required">Select</div> 
				<select name="" class="input select">
					<option value="">This is a super long example to see if it goes off the page</option>
				</select><br />
				
				<div class="label"></div> <input type="checkbox" value="1" name="user_remember" class="input"> Checkbox<br />
				<div class="label"></div> <input type="radio" value="1" name="user_remember" class="input"> Radio<br />
				
				<input type="submit" name="login" value="Login" class="submit"  />
				<div class="clear"></div><br />
				</form>

		
		<table>
			<thead>
				<tr class="top">
					<th>Column 1</th>
					<th>Column 1</th>
					<th>Column 1</th>
				</tr>
			</thead>
			
			<tbody>
				<tr class="row">
					<td>01</td>
					<td>01</td>
					<td>01</td>
				</tr>
			
				<tr class="row">
					<td>01</td>
					<td>01</td>
					<td>01</td>
				</tr>
			</tbody>
		</table>
		
			</div>
		</div>
		<div class="footer"></div>
	</div>
	
</div>

<div class="clear"></div>

<div id="footer"> 
	<div class="copyright">Copyright &copy; 2010 <a href="#">Xcel Gaming</a> All Rights Reserved. Powered By <a href="#">Clan CMS v0.1.0 Alpha</a></div> 
	<div class="links"> 
		<a href="#">Home</a> | 
		<a href="#">My Account</a> | 
		<a href="#">Forums</a> | 
		<a href="#">Team Members</a> | 
		<a href="#">Matches</a> | 
		<a href="#">Media</a> | 
		<a href="#">Sponsors</a> | 
		<a href="#">About Us</a>		
	</div> 
</div> 

</body>

</html>