@charset "UTF-8";
/* CSS Document */

/*---
	TYPOGRAPHY
----------------------------*/

body {
	width: 983px;	
	margin: 0 auto;
	padding: 0;
	background-image:url('images/bg.gif');
	font: .7em Arial, Helvetica, sans-serif;
	color: #ffffff;
}

a {
	color: #ffffff;
	text-decoration: none;
}

img {
	vertical-align:middle;
	border: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.orange {
	color: #ee2d00;
	text-decoration: underline;
}

.yellow {
	color: #ffd800;
	text-decoration: none;
}

.green {
	color: green;
	text-decoration: none;
}

.red {
	color: red;
	text-decoration: none;
}
.white {
	color: #fff;
	text-decoration: none;
	}
.clear {
	clear: both;
}

.space {
	clear: both;
	padding-top: 2px;
}

marquee
{   
   vertical-align: middle;
	   width: 24%;
}

blockquote {
	font: 1em Arial, Helvetica, sans-seril;
	background-color: #0f0f0f;
	font-style: italic;
	font-weight: bold;
	border: 2px solid #0f0f0f;
	color: #ffd800;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

blockquote p:before {
	content: '"';
}
	
blockquote p:after {
	content: '"';
}

code {
	font: 1em Arial, Helvetica, sans-seril;
	background-color: #0f0f0f;
	border: 2px solid #0f0f0f;
	color: #ffd800;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

/*---
	HEADER
----------------------------*/

#header {
	height:182px;
}

#header #top {
	background-image: url('images/header.png');
	height: 31px;
	width: 981px;
	margin-bottom: 2px;
font-weight: bold;
line-height: 30px;
}

#header #top .left {
	float: left;
	padding: 0 0 0 10px;
	width: 295px;
}

#header #top .middle{
	width: 390px;
	display: inline;
	text-align: left;
	color: #ffffff;
}

#header #top .middle .title{
	color: #7e7e7e;
	padding-right: 10px;
	float: left;
}

#header #top .middle ul#ticker {
	list-style: none;
	margin: 0;
}

.tickercontainer {
	width: 308px; 
	height: 31px; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}

.tickercontainer .mask {
	position: relative;
	width: 308px;
	overflow: hidden;
}

ul.newsticker {
	position: relative;
	list-style-type: none;
	margin: 0;
	left: 250px;
	padding: 0;
}

ul.newsticker li {
	float: left;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

ul.newsticker a {
	margin: 0 50px 0 0;
} 

#header #top .right {
	float: right;
	padding: 0 10px 0 0;
}

#header #banner {
	height: 116px;
	width: 981px;
	background: url(images/banner.png) no-repeat;
}

#header #logo {
	padding: 38px 0 0 108px;
}

#header #banner h1{
	margin: 0;
	padding: 30px 0 0 110px;
	font-size: 38px;
	font-weight: normal;
	font-family: Arial narrow;
	color: #ffd800;
	text-shadow: 0px 2px 3px #0f0f0f;
}

#header #banner h2{
	margin: 0;
	padding: 0 0 0 110px;
	font-size: 12px;
}

#header #navigation {
	height: 30px;	
	width: 981px;
	position:relative;
	z-index: 10;
}

#header #navigation  ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
}

#header #navigation ul li a {
	color: #ffffff;
	text-decoration: none;
	float: left;
	padding: 0 10px 0 10px;
	font-weight: bold;
}

#header #navigation ul li .left {
	Background: url('images/navigation_left.gif') no-repeat;
	width: 4px;
	height: 30px;
	float: left;
}

#header #navigation ul li .middle {
	Background: url('images/navigation_middle.gif') repeat-x;
	height: 30px;
	float: left;
	line-height: 28px;
	text-align: center;
}

#header #navigation ul li .right {
	Background: url('images/navigation_right.gif') no-repeat;
	width: 4px;
	height: 30px;
	float: left;
}

#header #navigation ul li:hover span a, #header #navigation ul li.selected span a  {
	color: #ffd800;
	text-decoration: none;
	padding: 0 10px 0 10px;
	float: left;
	font-weight: bold;
}

#header #navigation ul li:hover .left, #header #navigation ul li.selected .left {
	Background: url('images/navigation_left_selected.gif') no-repeat;
	width: 4px;
	height: 30px;
	float: left;
}

#header #navigation ul li:hover .middle, #header #navigation ul li.selected  .middle {
	Background: url('images/navigation_middle_selected.gif') repeat-x;
	height: 30px;
	float: left;
	line-height: 28px;
	text-align: center;
}

#header #navigation ul li:hover .right, #header #navigation ul li.selected  .right {
	Background: url('images/navigation_right_selected.gif') no-repeat;
	width: 4px;
	height: 30px;
	float: left;
}

#header #navigation ul li ul {
	position:absolute;
	border-bottom-width: 0;
	line-height:20px;
	width: 191px;
	margin-top: 30px;
	padding: 0 0 0 0;
	text-align: left;
	list-style: none;
}

#header #navigation ul li ul li {
	width: 191px;
	height: 22px;
	display: block;	
	text-decoration: none;
	background-color: #151515;
	border: 1px solid #0F0F0F;
	padding: 2px 10px 2px 10px;
	color: #ffffff;
}

#header #navigation ul li ul li:hover, #header #navigation ul li ul li.selected {
	width: 191px;
	height: 22px;
	display: block;	
	text-decoration: none;
	background-color: #0f0f0f;
	border: 1px solid #0F0F0F;
	padding: 2px 10px 2px 10px;
}

#header #navigation ul li ul li:hover a, #header #navigation ul li ul li.selected a {
	color: #ffd800;
}

#header #navigation ul li:hover ul
{
	display: block;
}

#header #navigation ul li ul
{
	display: none;
}

/*---
	SIDEBAR
----------------------------*/

#sidebar {
	float: left;
}

#sidebar  .widget  {
	width: 238px;
}

#sidebar  .widget  .header {
	Background: url('images/widget_header.gif') no-repeat;
	height: 10px;
	width: 238px;
}

#sidebar  .widget  .subheader {
	Background: url('images/widget_subheader.png') no-repeat;
	height: 30px;
	width: 210px;
	padding: 2px 0 2px 0;
}

#sidebar  .widget  .subheader h4 {
	margin: 0;
	line-height: 25px;
	text-align: left;
	color: #ffd800;
	font-weight: bold;
	padding-left: 10px;
}

#sidebar  .widget  .content {
	Background: url('images/widget_middle.gif') repeat-y;
	width: 238px;
}

#sidebar  .widget  .inside {
	padding: 10px 15px 10px 15px;
}

#sidebar  .widget .content .inside a {
	color: #ee2d00;
	text-decoration: underline;
}

#sidebar  .widget  .inside .submit {
	float: right;
	padding-bottom: 5px;
}

#sidebar  .widget  .inside .label {
	float: left;
	padding: 5px 0 5px 0;
}

#sidebar  .widget  .inside .input {
	float: right;
	padding: 2px 2px 2px 2px;
	width: 140px;
}

#sidebar  .widget  .footer {
	Background: url('images/widget_footer.gif') no-repeat;
	height: 10px;
	width: 238px;
}

#sidebar  .widget .tabs {	
	height: 33px;
	width: 238px;
}

#sidebar  .widget .tabs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar  .widget .tabs li {
	list-style: none;
	float: left;
}

#sidebar  .widget .tabs li a {
	color: #ffffff;
	text-decoration: none;
	padding: 0 10px 0 10px;
	float: left;
	font-weight: bold;
}

#sidebar  .widget .tabs li .left {
	Background: url('images/widget_tab_left.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-top: 1px;
}

#sidebar  .widget .tabs li .middle {
	Background: url('images/widget_tab_middle.gif') repeat-x;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	margin-top: 1px;
}

#sidebar  .widget .tabs li .right {
	Background: url('images/widget_tab_right.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-top: 1px;
	margin-right: 1px;
}

#sidebar  .widget .tabs li:hover a, #sidebar  .widget .tabs li.selected a {
	color: #ffd800;
	text-decoration: none;
	padding: 0 10px 0 10px;
	float: left;
	font-weight: bold;
}

#sidebar  .widget .tabs li:hover .left, #sidebar  .widget .tabs li.selected .left {
	Background: url('images/widget_tab_left_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-top: 0px;
}

#sidebar  .widget .tabs li:hover .middle, #sidebar  .widget .tabs li.selected .middle {
	Background: url('images/widget_tab_middle_selected.gif');
	height: 33px;
	float: left;
	line-height: 35px;
	text-align: center;
	margin-top: 0px;
}

#sidebar  .widget .tabs li:hover .right, #sidebar  .widget .tabs li.selected .right {
	Background: url('images/widget_tab_right_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-right: 1px;
	margin-top: 0px;
}

#sidebar  .widget .content .inside table {
	Background: url('images/widget_subheader.png') no-repeat;
	height: 26px;
	width: 210px;
border-collapse: collapse;
	font-weight: bold;
	text-align: center;
	color: #ffd800;
}

#sidebar  .widget .content .inside table thead tr.top {
	padding: 0 15px 0 15px;
	width: 210px;
}

#sidebar  .widget .content .inside table thead tr th{
	padding: 0 10px 0 10px;
}

#sidebar  .widget .content .inside table thead tr {
	height: 26px;
}

#sidebar  .widget .content .inside table tbody tr {
	height: 26px;
	color: #ffffff;
}

#sidebar  .widget .content .inside table tbody tr:hover {
	Background: #0f0f0f;
	color: #ffd800;
}

#sidebar  .widget .content .inside table tbody tr td{
	border-bottom: 2px groove #2a2a2a;
}

/*---
	MAIN
----------------------------*/

#main {
	float: right;
	padding-right: 2px;
}

#main .box {
	width: 741px;
}

#main .box .header {
	Background: url('images/box_header.png') no-repeat;
	height: 42px;
	width: 741px;
}

#main .box .header h4 {
	margin: 0;
	line-height: 48px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}
#main .box .header .new{
    float: left;
    margin: 9px 0px -28px 10px;
    position: relative;
    z-index: 1000;
}

#main .box .subheader {
	Background: url('images/box_subheader.png') no-repeat;
	height: 28px;
	width: 713px;
	padding: 0 0 2px 0;
}

#main .box .subheader h4 {
	margin: 0;
	line-height: 25px;
	text-align: left;
	color: #ffd800;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	width: 703px;
}

#main .box .subheader img {
	float: right;
	margin-top: 5px;
	padding-right: 10px;
	vertical-align: middle;
}

#main .box .content {
	Background: url('images/box_middle.png') repeat-y;
	width: 741px;
}

#main .box .content .inside {
	padding: 5px 15px 5px 15px;
}

#main .box .content .inside a {
	color: #ee2d00;
	text-decoration: underline;
}

#main .box .content .inside .required-field {
	float: right;
font-weight: bold;
	color: #ffffff;
}

#main .box .content .inside .required-field:before {
content: " * ";
	color: #ee2d00;
font-weight: bold;
}

#main .box .content .inside .label {
	width: 250px;
	text-align: right;
	float: left;
	color: #7e7e7e;
	padding: 5px 15px 0 0;
	font-weight: bold;
}

#main .box .content .inside .details {
	padding: 10px 0 0 0;
	font-weight: bold;
	text-align: left;
	float: right;
	width: 436px;
}

#main .box .footer {
	Background: url('images/box_footer.png') no-repeat;
	height: 10px;
	width: 741px;
}

#main .box .tabs {	
	height: 33px;
	width: 741px;
}

#main .box .tabs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .box .tabs li {
	list-style: none;
	float: left;
}

#main .box .tabs li a {
	color: #ffffff;
	text-decoration: none;
	padding: 0 10px 0 10px;
	font-weight: bold;
}

#main .box .tabs li .left {
	Background: url('images/box_tab_left.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-bottom: 1px;
}

#main .box .tabs li .middle {
	Background: url('images/box_tab_middle.gif') repeat-x;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	margin-bottom: 1px;
}

#main .box .tabs li .right {
	Background: url('images/box_tab_right.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-bottom: 1px;
	margin-right: 1px;
}

#main .box .tabs li:hover a, #main .box .tabs li.selected a {
	color: #ffd800;
	text-decoration: none;
	padding: 0 10px 0 10px;
	font-weight: bold;
}

#main .box .tabs li:hover .left, #main .box .tabs li.selected .left {
	Background: url('images/box_tab_left_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-bottom: 0px;
}

#main .box .tabs li:hover .middle, #main .box .tabs li.selected .middle {
	Background: url('images/box_tab_middle_selected.gif');
	height: 33px;
	float: left;
	line-height: 32px;
	text-align: center;
	margin-bottom: 0px;
}

#main .box .tabs li:hover .right, #main .box .tabs li.selected .right {
	Background: url('images/box_tab_right_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-right: 1px;
	margin-bottom: 0px;
}

#main .box .content .inside .alert {
	width: 700px;
	padding: 5px 5px 5px 5px;
	background: #f6e68d;
	border: 2px solid #ffd800;
	color: #0f0f0f;
	font-weight: bold;
}

#main .box .pages {	
	height: 33px;
	width: 741px;
}

#main .box .pages ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .box .pages li {
	list-style: none;
}

#main .box .pages li a {
	color: #ffffff;
	text-decoration: none;
	padding: 0 5px 0 5px;
	float: left;
	font-weight: bold;
}

#main .box .pages li .left {
	Background: url('images/pages_tab_left.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-top: 1px;
}

#main .box .pages li .middle {
	Background: url('images/pages_tab_middle.gif') repeat-x;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	margin-top: 1px;
}

#main .box .pages li .right {
	Background: url('images/pages_tab_right.gif') no-repeat;
	width: 5px;
	height: 32px;
	float: left;
	margin-top: 1px;
	margin-right: 1px;
}

#main .box .pages li:hover a, #main .box .pages li.selected a {
	color: #ffd800;
	text-decoration: none;
	padding: 0 5px 0 5px;
	float: left;
	font-weight: bold;
}

#main .box .pages li:hover .left, #main .box .pages li.selected .left {
	Background: url('images/pages_tab_left_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-top: 0px;
}

#main .box .pages li:hover .middle, #main .box .pages li.selected .middle {
	Background: url('images/pages_tab_middle_selected.gif');
	height: 33px;
	float: left;
	line-height: 35px;
	text-align: center;
	margin-top: 0px;
}

#main .box .pages li:hover .right, #main .box .pages li.selected .right {
	Background: url('images/pages_tab_right_selected.gif') no-repeat;
	width: 5px;
	height: 33px;
	float: left;
	margin-right: 1px;
	margin-top: 0px;
}

/*---
	FORM
----------------------------*/

#main .box .content .inside .label {
	width: 250px;
	text-align: right;
	float: left;
	color: #7e7e7e;
	padding: 9px 25px 0 0;
}

#main .box .content .inside .input {
	margin: 7px 0 7px 0;
	padding: 2px 2px 2px 2px;
}

#main .box .content .inside .description {
	padding: 0 0 0 275px;
	color: #ffffff;
}

#main .box .content .inside .select {
	width: 220px;
}

#main .box .content .inside .disabled{
	background: #0f0f0f;
	color: #ffffff;
}

#main .box .content .inside .submit {
	float: right;
}

#main .box .content .inside .required {
font-weight: bold;
	color: #ffffff;
}

#main .box .content .inside .required:before {
content: " * ";
	color: #ee2d00;
font-weight: bold;
}

#main .box .content .inside table {
	Background: url('images/box_subheader.png') no-repeat;
	height: 26px;
	width: 713px;
border-collapse: collapse;
	font-weight: bold;
	text-align: left;
	color: #ffd800;
}

#main .box .content .inside table thead tr th{
	padding: 0 10px 0 10px;
	text-align: left;
}

#main .box .content .inside table tbody tr td{
	padding: 0 10px 0 10px;
}

#main .box .content .inside table thead tr {
	height: 26px;
}

#main .box .content .inside table tbody tr {
	height: 26px;
	color: #ffffff;
}

#main .box .content .inside table tbody tr:hover {
	Background: #0f0f0f;
	color: #ffd800;
}

#main .box .content .inside table tbody tr.move {
	cursor: move;
}

#main .box .content .inside table tbody tr td{
	border-bottom: 2px groove #2a2a2a;
}

/*---
	MISC
----------------------------*/

#avatar {
	background: url('images/avatar.png');
	height: 61px;
	width: 61px;
}

#avatar img {
	padding: 2px;
}

#login {
	padding: 0 0 0 5px;
	float: left;
}

.comment {
	float: left;
	padding: 0 0 0 10px;
	width: 90%;
}

.poll {
	width: 100%;
	height: 15px;
	background-color: #ee2d00;
}

.percent {
	text-align: center;
	border: 1px solid #070707;
}

.memberlist {
border: 1px solid #2B2B2B;
border-radius: 6px 6px 6px 6px;
display: block;
list-style: none outside none;
padding: 5px;
}
.memberlist .member_head {
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1px solid #333;
}
.memberlist .member {
display: inline-block;
padding: 0;
list-style: none;
width: 700px;
}
.memberlist li {
display: inline-block;
}
.member .icon {
width: 25px;
}
.memberlist .member .name {
width: 100px;
}
/*---
	NEW USERS
----------------------------*/

#newusers {
	background: url('images/new_users.png');
	height: 96px;
	width: 741px;
	overflow: hidden;
}

#newusers .user {
	float: left;
	padding: 10px 2px 0 10px;
}

#newusers .username {
	float: left;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

/*---
	FOOTER
----------------------------*/

#footer
{
	background: url('images/footer.png') no-repeat;
	height:40px;
	margin-top: 2px;
	line-height: 40px;
	text-align: center;
}

#footer .copyright
{
	margin-left: 18px;
	float:left;
}

#footer .copyright a
{
	color: #ee2d00;
}

#footer .links
{
	float:right;
	padding-right:18px;
	display:inline;	 
}

#footer .links a 
{
	color: #ffffff;
	text-decoration: none;
	padding: 2px;
}

#footer .links a:hover 
{
	border-bottom: 1px #ee2d00 solid;
	padding-bottom: 11px;
}

#slider-wrapper
{
	position:relative;
	height: 252px;
	width: 741px;
	background-image: url('images/slideshow.png');
}

#slider
{
	position: absolute;
	top: 7px;
	left: 7px;
}

#slider .nivo-controlNav
{
	position:absolute;
	bottom: -50px;
	left: 2px;
}

#slider .nivo-controlNav a img
{
	display:inline;
	position:relative;
	margin-right: 5px;
	opacity: 0.4;
}

#slider .nivo-controlNav a.active img
{
	display:inline;
	position:relative;
	margin-right: 5px;
	opacity: 1.0;
}

#slider .nivo-caption
{
text-shadow:none;
font-family: Helvetica, Arial, sans-serif;
	height: 50px;
	width: 727px;
	overflow: hidden;
}

#slider .nivo-caption img
{
float: right;
}


#slider .nivo-caption h4
{	
	margin: 0;
	text-align: left;
	color: #ffd800;
	font-weight: bold;
}

#slider .nivo-caption a
{ 
	color: #ee2d00;
	text-decoration: underline;
}

/* -------------
	SHOUTBOX ------------ */
#shoutbox {
border: 1px solid #2B2B2B;
height: 250px;
padding: 3px;
overflow-y: auto;
overflow-x: hidden;
margin: 0 0 3px;
}
#shouts {
	padding: 0;
	margin: 0;
	list-style: none;
	}
.admin {
	color: orange;
	font-variant: small-caps;
	background: #333;
	}
.user {
	color: #ccc;
	}
.time {
	font-size: 80%;
	font-variant: normal;
	}
#shout_input .alert{
	background: none repeat scroll 0 0 #F6E68D;
	border: 2px solid #FFD800;
	color: #0F0F0F;
	font-weight: 800;
	text-align: center;
	line-height: 15px;
	font-size: 10px;
	margin: 3px 0 0;
	}
#shout_input p {
	margin: 0;
	padding: 0;
	}
	
	
/* -------------
	GALLERY ----------- */
#videos {
	margin-bottom: 15px;
	overflow: hidden;
	border: 1px solid #1b1b1b;
	box-shadow: 0 0 15px #444 inset;
	padding: 9px 0;
	border-radius: 12px;
}
#videos ul {
	list-style: none;
	padding: 5px;
	white-space: nowrap;
}
#videos li {
	display: inline;
	border: 1px solid #2b2b2b;
	margin-right: 3px;
	overflow: hidden;
	font-family: mw3;
	font-size: 10px;
}
#photos {
	padding: 0 4px;
	}
#alerts {
	height: 40px; 
	}
#photos ul {
	list-style: none;
	padding: 0;
	}
#photos li {
    display: inline-block;
    margin: 0 2px 8px 0;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 7px;
    box-shadow: 0 -3px 15px #000 inset;
}
#photos .gallery_inset {
    border-bottom: 1px solid #666;
    background: #2b2b2b;
    margin: 2px;
    border-radius: 7px 7px 0 0;
}
#photos .gallery_inset img {
    border-radius: 7px 7px 0 0;
}
#photos .gallery_detail {
    padding: 0 10px 3px;
    color: #2b2b2b;
    text-shadow: 0 1px 1px #e5e5e5;
    font-size: 12px;
}
#photos .gallery_detail span {
    text-shadow: none;
    color: #2b2b2b;
}
#photos .delete {
	float: right;
	position: relative;
	z-index: 1000;
	margin: 5px 5px -21px 0;
}
#photos .new {
    float: left;
    margin: -3px 0px -41px -3px;
    position: relative;
    z-index: 1000;
}
#photos li img {
	border: 0 none;
	clear: both;
	display: block;
	text-align: center;
}
.bold {
	font-weight: 800;
	color: #666;
	}
.resize_x {  
	width: 130px;  
	height : auto;  
}
.resize_y {
	width: auto;
	height: 100px;
}	

/* -----------------------
	GALLERY IMAGE -------------- */
.gallery {
	margin: 0;
	padding: 0;
	}
.gallery .media {
	background: none repeat scroll 0 0 #1B1B1B;
	border: 1px solid #000000;
	margin: 0;
	text-align: center;
	width: 710px;
	}
.gallery .properties .share {
	height: 30px;
	list-style: none outside none;
	margin: 0 12px 4px;
	padding: 0;
	}
.gallery .properties .share li {
	display: inline-block;
	height: 34px;
	width: 34px;
	z-index: -999;
	}
.share .download {
	background: url("images/social_media_32.png") no-repeat scroll -481px 18px transparent;
	z-index: -999;
	}
.share .download:hover {
	background-position: -481px 0;
	}
.share .favor {
	background: url("images/social_media_32.png") no-repeat scroll -449px 16px transparent;
	z-index: -999;
	}
.share .favor:hover {
	background-position: -449px 0;
	}
.share .facebook {
	background: url("images/social_media_32.png") no-repeat scroll -352px 16px transparent;
	z-index: -999;
	}
.share .facebook:hover {
	background-position: -352px 0;
	}
.share .twitter {
	background: url("images/social_media_32.png") no-repeat scroll -128px 16px transparent;
	z-index: -999;
	}
.share .twitter:hover {
	background-position: -128px 0;
	}
.share .stumble {
	background: url("images/social_media_32.png") no-repeat scroll -160px 16px transparent;
	z-index: -999;
}
.share .stumble:hover {
	background-position: -160px 0;
}
.gallery .properties {
	background: none repeat scroll 0 0 #ccc;
	border: 1px solid silver;
	border-radius: 10px;
	box-shadow: 0px -3px 18px #000 inset;
	float: left;
	margin: 8px 0 0;
	max-width: 250px;
	overflow: hidden;
}
.gallery .properties .title {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #333;
	padding: 5px 10px;
	box-shadow: 0 0 13px #333 inset;
	border-radius: 10px 10px 0 0;
	color: #2b2b2b;
	text-shadow: 0 1px 1px #e5e5e5;
	font-weight: 600;
}
.gallery .properties ul {
	display: block;
	list-style: none outside none;
	padding: 0;
}
.gallery .properties li {
	display: block;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.gallery .properties .labels {
	color: #666666;
	float: left;
	line-height: 20px;
	text-align: right;
	text-shadow: 0 1px #999999;
	width: 80px;
}
.gallery .properties .labels li {
	margin-bottom: 2px;
	border-bottom: 1px dashed gray;
	padding: 0 0 5px 0;
	text-shadow: 0 1px #666;
}
.gallery .properties .info {
	color: #FFFFFF;
	float: left;
	min-width: 120px;
	text-indent: 5px;
}
.gallery .properties .info li {
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 2px;
	border-bottom: 1px dashed gray;
	padding: 0 0 5px 0;
	color: #000;
	text-shadow: 0 1px #999;
}
.gallery .gallery_description {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #333333;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 1px #FFFFFF;
    margin: 8px 0 0 20px;
    width: 435px;
    float: right;
}
.gallery_description .uploader {
    border-right: 1px solid silver;
    float: left;
    margin: 7px;
    width: 115px;
}
.gallery_description .uploader img {
    display: block;
}
.uploader span {
    font-size: 14px;
    background: none;
}
.uploader_desc {
    margin: 5px 2px;
}
.uploader_desc p {
    margin: 15px 0 0 8px;
    font-size: 15px;
    color: #ccc;
    font-weight: 500;
}
.uploader_desc textarea {
    background: #333;
    border: 1px solid #000;
    box-shadow: 1px 1px #ccc;
    color: #ccc;
    margin-bottom: 4px;
}

/* ------
	GALLERY COMMENT AREAS ----- */
.comment_textarea {
    boxshadow: 0 0 15px #999999 inset;
    padding: 10px;
}
textarea {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #666666;
    border-radius: 8px 8px 8px 8px;
    color: darkGreen;
    margin: 0 auto;
    padding: 3px;
    text-shadow: 0 0 0.02em #48661F;
}
.comment_textarea .submit {
    float: right;
    margin:  5px 20px;
    background: url(./images/commentsprite.png) 0 0;
    width: 81px;
}
.comment_textarea .submit:hover {
    background-position: 0px 26px;
}
.comment_textarea .submit:active {
    background-position: 0px 52px;
}
.gallery_comments {
    float: right;
    width: 435px;
    margin: 10px 0 0;
}
.gallery_comments .author {
    border: 1px solid #cc6600;
    box-shadow: 0 0 3px #cc6600 inset;
}
.gallery_comments .author li.poster {
    float: right;
    padding: 4px;
    border-left: 1px solid #cc6600;
}
.gallery_comments ul {
    border: 1px solid #444444;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 65px;
}
.gallery_comments li.poster {
    float: left;
    padding: 5px;
    border-right: 1px solid #444;
}
.gallery_comments li.post_head {
    color: #999;
    text-indent: 5px;
}
.gallery_comments li.posted {
    font-family: centabel;
    font-size: 14px;
    text-indent: 5px;
}

/* ------------
	Stats Widget -------- */
.cats {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 77px;
}
.cats li {
    border-right: 1px solid #CC6600;
    font-size: 12px;
    height: 16px;
    margin-bottom: 2px;
    padding-right: 7px;
}
.cats li:last-child {
    border-bottom: medium none;
}
.links {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.links li {
    font-size: 11px;
    height: 16px;
    margin-bottom: 2px;
    text-indent: 5px;
}
.links li:last-child {
    border-bottom: medium none;
}
#site_stats {
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

/* --------------------
	USER GALLERY ----------*/
	.stats {
    background: #ccc;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    display: block;
    box-shadow: 0 0px 11px #000 inset;
}
.stats .title {
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding: 5px 10px;
    box-shadow: 0 0 15px #333 inset;
    border-radius: 10px 10px 0 0;
    color: #2b2b2b;
    text-shadow: 0 1px 1px #e5e5e5;
    font-weight: 600;
}
.stats ul {
    list-style: none;
    display: block;
    padding: 0 5px;
    margin: 0;
    text-align: left;
}
.stats li {
    display: inline-block;
    width: 85px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: 0 3px 2px;
}
.stats .labels {
    color: #666;
    text-shadow: 0 1px #999;
    text-align: left;
    border-bottom: 1px dashed gray;
}
.stats .info {
    color: #000;
    text-shadow: 0 1px #999;
}

/* --------------------
	UPLOAD FORM -------- */
.upload {
    box-shadow: 0 0 5px #ccc inset;
    padding: 8px;
    border-radius: 7px;
}
.upload label {
    font-size: 18px;
    color: #cc0000;
    font-weight: bold;
    padding: 0 5px;
    line-height: 25px;
}

.edit:hover {
    box-shadow: 0 0 3px #fff;
    border-radius: 3px;
}